.main-wrapper {
    border: 1px solid mediumblue;
    margin: 5px 0 5px 10px;
    width: 1330px;
    height: 660px;
    float: left;
}

.menu {
    border: 1px solid grey;
    margin: 5px 0 5px 10px;
    height: 120px;
    width: 1300px;
    float: left;
}

.content {
    border: 1px solid red;
    margin: 5px 0 5px 10px;
    height: 450px;
    width: 1300px;
    float: left;
}

.logo {
    margin: 5px 0 5px 200px;
    height: 60px;
    width: 225px;
    float: left;
}

.border-grey {
    border: 1px solid grey;
}

.search-bar {
    margin: 25px 0 5px 10px;
    height: 30px;
    width: 340px;
    float: left;
}

.information {
    margin: 5px 200px 5px 100px;
    height: 60px;
    width: 200px;
    float: left;
}

.name-box {
    margin: 5px 5px 5px 110px;
    width: 80px;
    height: 20px;
    float: left;
}

.home-setting-logout-box {
    margin: 5px 5px 20px 8px;
    width: 50px;
    height: 15px;
    float: left;
}

.navigation {
    margin: auto;
    height: 30px;
    width: 1280px;
    clear: both;
}

.navigation-menu {
    margin: 5px 5px 0 190px;
    width: 100px;
    height: 20px;
    float: left;
}

.navigation-menu-right {
    margin: 5px 5px 0 10px;
    width: 100px;
    height: 20px;
    float: left;
}

.topic-box {
    margin: 5px 5px 5px 220px;
    width: 95px;
    height: 20px;
    float: left;
}

.friend-request {
    margin: 5px 200px 5px 5px;
    width: 95px;
    height: 20px;
    float: left;
}

.footer {
    margin: 5px 0 5px 10px;
    height: 50px;
    width: 1300px;
    float: left;
}


