.background-image {
    /* background-image: url("../images/tutangle.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    height: 837px;
}

.main-wrapper {
    height: 837px;
    min-width: 962px;
}

.header {
    /* background-color:  #7dd9e8; */
    height: 125px;
    min-width: 962px;
    max-width: 1348px;
}

.top-header {
    background-color: #7dd9e8;
    height:85px;
    margin:0px auto;
}

.top-header-logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height: 90px;
    width: 250px;
    margin-left: 190px;
}

.search-wrapper {
    width : 330px;
    float: left;
    padding: 20px 24px 9px 14px;
}

.search-input {
    background: url("../images/search-bar.png") no-repeat;
    float: left;
    margin-top: 20px;
}

.search-input input {
    width: 260px;
    background-color: transparent;
    border:0 solid;
    font-size: 11px;
    padding: 3px 8px;
}

.search-button {
    background: url("../images/search-button.png") no-repeat;
    float: right;
    width: 53px;
    margin-top: 20px;
}

.search-button a {
    font-size: 9px;
    color: #ffff;
    display: block;
    padding: 5px 5px 5px 8px;
}

.user-nav-info {
    margin: 20px 0 0 150px;
    height: 52px;
    width: 180px;
    float: left;
    font-weight: bold;
}

.user-name-wrapper {
    margin-top: 2px;
    margin-left: 90px;
    width: 86px;
    height: 20px;
    float: left;
}

.user-name {
    float: right;
    display: table;
    font-size: 15px;
    line-height: 20px;
    margin: 0px 3px 3px 0px;
}

.user-nav-wrapper {
    margin-top: 25px;
    margin-right: 13px;
}

.user-nav {
    float: right;
    line-height: 15px;
    margin-right: -3px;
}

ul#horizontal-list li{
    display: inline;
}

.user-nav ul li a{
    font-size: 13px;
}

.bottom-header{
    background-color: #f5f5f5;
    height: 40px;
}

.menu-options {
    /* border: 1px solid red; */
    margin-left: -235px;
    padding: 11px 0;
    float: left;
    line-height: 15px;   
    width: 500px; 
}

.menu-options ul li {
    float: left;
    margin: auto;
    padding: 0px 30px 0 0;
}

ul#menu-options li{
    display: inline;
}

.menu-options ul li a {
    font-size : 13px;
}

.body-wrapper {
    padding: 15px 0px 40px 0px;
    height: 655px;
    float: left;
    width: 1340px;
}

.container {
    width: 950px;
    height: 600px;
    padding: 5px 3px;
    margin-left: 200px;
    float: left;
}

.left-container {
    float: left;
    padding-top: 6px;
    height: 600px;
    width: 194px;
}

.recent-search-first {
    float: left;
    width: 192px;
}

.recent-search {
    padding: 0px 0px;
}

.recent-search-second {
    float: left;
    width: 192px;
}

.right-container {
    /* border: 1px solid red; */
    float: right;
    height: 500px;
    width: 730px;
    margin-right: 10px;
    padding-top: 6px;
    padding-right: 10px;
}

.right-container-right {
    float: right;
    width: 194px;
    height: 450px;
}
