* {
    padding: 0;
    margin: 0;
    font-family: Arial,"Times New Roman";
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-size: 16px;
}

.block-title {
    font-size: 15xpx;
    height: 42px;
    line-height: 42px;
    color: white;
    background-color: #2fc1da;
    padding-left: 12px;
}