.user-notification {
    float: right;
    margin-right: 165px;
    padding: 13px 10px;
}

.user-notification ul li:first-child {
    background-image: url("../images/topic-box-image.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    margin-right: 31px;
}

.user-notification ul li:last-child {
    background-image: url("../images/friend-request-image.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-right: 31px;
    color: #aaa;
}

.user-notification ul li {
    font-size: 11px;
    float: left;
    width: auto;
}

ul#user-notification-list li {
    display: inline;
}

.user-notification ul li.enabled {
    color: #000;
}

.box-list ul {
    width: 192px;
    font-size: 11px;
    background-color: #f5f5f5;
}

.box-list ul li {
    padding: 0 3px;
    display: table;
}

.recent-search ul li a:first-child {
    float: left;
    width: 120px;
    padding: 10px 5px;
}

.box-list ul li:hover{
	background-color: #fff;
}

.recent-search ul li a:last-child img {
    float: right;
    padding: 10px;
}

.list-video-tutorial ul li {
    padding: 5px 10px;
    height: 30px;
}